doctype html
html
	head
		link(href='css/bootstrap.min.css' type='text/css' rel='stylesheet')
		link(href='css/bootstrap-theme.min.css' type='text/css' rel='stylesheet')
	body
		.container
			.row.centered-form
				.col-xs-12
					.well
						h2.text-center ADD A USER
						form(action="/adduser", method="post")

							//- name='username' -- request.body.username
							.form-group
								label(for='text') FIRST NAME
								input.form-control(type='text', name='firstname' placeholder='. . .')
							.form-group
								label(for='text') LAST NAME
								input.form-control(type='text', name='lastname', placeholder='. . .')
								//- name='email' -- request.body.email
							.form-group
								label(for='email') E-MAIL
								input.form-control(type='text', name='email' placeholder='. . .')
							.form-group.text-center
								input.btn.btn-info(type='submit', value='SEND YOUR DATA')
		
		script(src='/js/jquery.min.js')
		script(src='/js/bootstrap.min.js')